# Environment files
.env
*.env
*.env.*
*.venv
*.venv.*
.venv

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.pdb

# Python packaging
*.egg-info/
*.eggs/
*.whl
*.dist-info/

# Coverage and testing
*.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.hypothesis/
.tox/

# Jupyter Notebook
*.ipynb_checkpoints/

# OS files
*.DS_Store

# Archives
*.tar.gz
*.zip
.tar.gz
.zip